WHATSAPP_TOKEN=EAF4mZC9yZCHZAIBRBxkTu5KLuk8mJonoMnveTas81WwTMyKn1VZBQa7tjZCXvScm6ZBqzigVkV8MwygifZCaI53PZAXquG1onZCYg9wMoQEMD1g9vXlEyGu6YQR7xMrpOywI5rqpNQOEZB7cpWc0oc4iX5ZCw8ETFcaZCFFoz9IlAPnj5Hg3EmqqHjDR66cdK7ZBkAFqredDRWyLLlZB3g1qBYpVPEGFyZAQqQNs6zQiByaG1eEvTvTBZB17MrB6npsx7q6usqRnXBT0ZBmKbm8k12DijmAs7IGRZB
WHATSAPP_PHONE_ID=1050467808154204
WHATSAPP_VERIFY_TOKEN=moodi_verify_123
MOODLE_BASE_URL=https://moodle.bgu.ac.il/moodle
ENCRYPTION_KEY=placeholder
DATABASE_URL=moodi.db